<h2>Search Songs</h2>
<%= form_tag("/songs", method: "get") do %>
  <%= text_field_tag :q, params[:q] %><br />
  <%= submit_tag "Search", :class => "btn btn-primary" %>
<% end %>
<br />

<% if @search_results %>
<h4>Your search yielded <%= @results.count %> result(s)</h4>
<table class="table">
	<tr>
		<th></th>
		<th>Name</th>
		<th>Artist</th>
		<th>Album</th>
		<th></th>
	</tr>
	<% @paged_results.each do |song| %>
	<tr>
		<td><%= image_tag(song["artworkUrl60"]) %></td>
		<td><%= song["trackName"] %></td>
		<td><%= song["artistName"] %></td>
		<td><%= song["collectionName"] %></td>
		<td><%= link_to 'View', {:controller => "songs", 
                       :action => "create", 
                       :external_id => song["trackId"], 
                       :name => song["trackName"], 
                       :artist => song["artistName"], 
                       :album => song["collectionName"],
                       :duration => song["trackTimeMillis"],
                       :thumb100 => song["artworkUrl100"],
                       :thumb60 => song["artworkUrl60"],
                       :itunes => song["trackViewUrl"],
                       :audio => song["previewUrl"],},
                       :class => "btn btn-info", 
                       :method => "post" %></td>
	</tr>
	<% end %>
</table>
<% end %>
<%= paginate @paged_results %>

