<h3><%= @song.name %></h3>
<%= image_tag(@song.thumb100) %><br />
<%= audio_tag(@song.audio, :controls => true, :preload => "none") %>

<p>Artist: <%= @song.artist %><br />
Album: <%= @song.album %><br />
Length: <%= @song_length %><br /></p>

<%= form_for(@playlist_song, :url => playlist_songs_path) do |f| %>
	<%= f.collection_select(:playlist_id, @playlists, :id, :name, include_blank: false) %>
	<%= f.hidden_field :song_id, :value => @song.id %>
	<%= f.submit "Add to Playlist" %>
<% end %>





