<% if @playlist.errors.any? %>
  <p>There were errors saving your playlist:</p>
  <ul>
    <% @playlist.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<br />
<%= form_for @playlist do |f| %>
  <%= f.label :name %><br />
  <%= f.text_field :name %><br />
  <%= f.submit "Submit", :class => "btn btn-primary" %>
<% end %>