<h3>Playlist: <%= @playlist.name %></h3>
<p><%= link_to "+ Add Songs", songs_path %></p>
<table>
	<tr>
		<th>Song</th>
		<th></th>
		<th>Artist</th>
		<th>Album</th>
		<th>Length</th>
		<th>Preview</th>
		<th></th>
	</tr>
	<% @playlist_songs.each do |song| %>
	<tr>
		<td><%= image_tag(song.thumb60) %></td>
		<td><%= song.name %></td>
		<td><%= song.artist %></td>
		<td><%= song.album %></td>
		<td><%= Time.at(song.duration/1000).strftime("%M:%S") %></td>
		<td><%= audio_tag(song.audio, :controls => true, :preload => "none") %></td>
		<td><%= link_to 'Delete', {:controller => "playlist_songs", 
                       :action => "destroy",  
                       :id => song.id,}, 
                       :confirm => "Are you sure?", 
                       :method => "delete" %></td>
	</tr>
	<% end %>
</table>
<p><%= link_to "+ Add Songs", songs_path %></p>

