<h2>Playlist: <%= @playlist.name %></h2>
<p><%= link_to "+ Add Songs", songs_path, :class => "btn btn-primary" %></p>

<% if @playlist_songs.count > 0 %>
<table class="table">
	<tr>
		<th></th>
		<th>Song</th>
		<th>Artist</th>
		<th>Album</th>
		<th>Preview</th>
		<th></th>
	</tr>
	<% @playlist_songs.each do |song| %>
	<tr>
		<td><%= image_tag(song.thumb60) %></td>
		<td><%= song.name %></td>
		<td><%= song.artist %></td>
		<td><%= song.album %></td>
		<td><%= audio_tag(song.audio, :controls => true, :preload => "none") %></td>
		<td><%= link_to 'Delete', {:controller => "playlist_songs", 
                       :action => "destroy",  
                       :id => song.id,}, 
                       :confirm => "Are you sure?",
                       :class => "btn btn-danger",  
                       :method => "delete" %></td>
	</tr>
	<% end %>
</table>

<p>Finshed adding songs? <%= link_to "Go Vote »", votes_path, :class => "btn btn-primary" %></p>

<% end %>

