<h3>Vote on Songs</h3>
<% @playlist_song.each do |playlist_song| %>
	<% song = playlist_song.song %>
	<% vote = Vote.find_current_vote(song.id, current_user.id) %>
	<% if vote %>
		<%= vote.cast_vote %>
	<% end %>
		<p><%= song.name %><br />by: <%= song.artist %></p>
		<p><%= link_to "Yes", {:controller => "votes", :action => "create", :vote => { :song_id => song.id, :vote => 1 }}, :method => "post" %> | 
	 	<%= link_to "No", {:controller => "votes", :action => "create", :vote => { :song_id => song.id, :vote => 2 }}, :method => "post" %></p>
	
<% end %>