<h2>Vote on these songs</h2>
<p>Time to vote! Choose "YES" or "NO" for each song.</p> 
<%= link_to "View Results »", results_path, :class => "btn btn-primary" %>


	<% @paged_songs.each do |song| %>
		<!-- displays yes, no or undecided -->
		<% vote = Vote.find_current_vote(song.song_id, current_user.id) %>
		<% if vote %>
			<div class="row <%= Vote.display(vote.cast_vote) %>">
		<% else %>
			<div class="row undecided">
		<% end %>
			<div class="col-md-2">
				<div class="icon-container">
					<%= link_to image_tag("icon-yes.svg", :class => "icon-yes", :alt => "YES"), {:controller => "votes", :action => "create", :vote => { :song_id => song.song_id, :vote => 1 }}, :method => "post" %>
				</div>
				<%= link_to "Yes", {:controller => "votes", :action => "create", :vote => { :song_id => song.song_id, :vote => 1 }}, :class => "txt-vote", :method => "post" %>
			</div>
			<div class="col-md-2">
				<div class="icon-container">
					<%= link_to image_tag("icon-no.svg", :class => "icon-no", :alt => "NO"), {:controller => "votes", :action => "create", :vote => { :song_id => song.song_id, :vote => 2 }}, :class => "" ,:method => "post" %>
				</div>
				<%= link_to "No", {:controller => "votes", :action => "create", :vote => { :song_id => song.song_id, :vote => 2 }}, :class => "txt-vote" ,:method => "post" %>
			</div>
			<div class="col-md-6">
			<%= image_tag(song.thumb60, :class => "float-left", :alt => "album cover", :id => song.id) %>
			<p><%= song.name %><br />
			by: <%= song.artist %></p>
			<div class="clear spacer10"></div>
			<%= audio_tag(song.audio, :controls => true, :preload => "none") %>
			</div>
		</div><!-- /end row-->
	<% end %>


<div class="paginate-container">
	<%= paginate @paged_songs %>
</div>
