<h2>Vote on these songs</h2>
<p>Time to vote! Choose "YES" or "NO" for each song.</p> 
<%= link_to "View Results »", results_path, :class => "btn btn-primary" %>

<% @paged_songs.each do |song| %>
	<% vote = Vote.find_current_vote(song.song_id, current_user.id) %>
	<% if vote %>
		<div class="<%= Vote.display(vote.cast_vote) %>">
		<% else %>
		<div class="undecided">
	<% end %>
	<%= image_tag(song.thumb60, :alt => "album cover") %>
	<p><%= song.name %><br />
	by: <%= song.artist %><br />
	</p>
	<p><%= link_to "Yes", {:controller => "votes", :action => "create", :vote => { :song_id => song.song_id, :vote => 1 }}, :class => "btn btn-primary", :method => "post" %>  
	 	<%= link_to "No", {:controller => "votes", :action => "create", :vote => { :song_id => song.song_id, :vote => 2 }}, :class => "btn btn-primary" ,:method => "post" %></p>
	</div>
<% end %>
<%= paginate @paged_songs %>
