<!DOCTYPE html>
<html>
<head>
  <title>Wedding Playlist Maker</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

  <script type="text/javascript">
	// Function to stop audio when current audio is playing
	document.addEventListener('play', function(e){
	    var audios = document.getElementsByTagName('audio');
	    for(var i = 0, len = audios.length; i < len;i++){
	        if(audios[i] != e.target){
	            audios[i].pause();
	        }
	    }
	}, true);
  </script>
</head>

<body>
<nav>
	<div class="user_nav">
		<% if user_signed_in? %>
		  Logged in as <strong><%= current_user.email %></strong>.
		  <%= link_to 'Edit profile', edit_user_registration_path %> |
		  <%= link_to "Logout", destroy_user_session_path, method: :delete %>
		<% else %>
		  <%= link_to "Sign up", new_user_registration_path %> |
		  <%= link_to "Login", new_user_session_path %>
		<% end %>
	</div>
	<h1>Wedding Playlist Maker</h1>
	<div class="inner">
		<%= image_tag("ribbons-left.svg", :class => "left", :alt => "-") %>
		<div class="menu">
			<%= link_to "Home", root_path %>
			<%= link_to "Playlists", playlists_path %>
			<%= link_to "Songs", songs_path %>
			<%= image_tag("logo.svg", :alt => "logo") %>
			<%= link_to "Vote", votes_path %>
			<%= link_to "Results", results_path %>
			<%= link_to "Help + FAQ", help_index_path %>
		</div>
		<%= image_tag("ribbons-right.svg", :class => "right", :alt => "-") %>
	</div>
</nav>
<div class="container">
	<div class="row">
		<div class="col-md-10 col-md-offset-1">
			<%= yield %>
		</div>
	</div>
</div><!-- /end container -->
<footer>
	<%= image_tag("footer-logo.svg", :class => "", :alt => "-") %>
	<p>Copyright &copy; 2013 Prima Thinks</p>
</footer>
</body>
</html>
